*{
	margin: 0;
	padding: 0;
}

html, body {
  height: 100%;
}

.credit-title, .bank-title {
	-moz-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	width: 5px;
}

.guide, .niz {
	background-color: #02b062;
	width: max-content;
}

.standards {
	 margin-left: 340px;
	 width: 85%;
}

.stand-titul {
	width: 85%;
}

.quote {
	width: 55%;
	float: left;
	padding-right: 40px;
	position: relative;
}

 #stan-obs  {
	display: inline-block;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	color: #a9f891;
	width: 85%;
}

#general {
	display: inline-block;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	color: #a9f891;
	width: 40%;
	
}




.quote-text {
	position: absolute;
    top: 1300px;
    left: 450px;
    width: 100%;
}

.contents a {
	margin-left: 20px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	color: #a9f891;
}

.contents-item {
	color: #de752a;	
	line-height: 30px;
	padding-bottom: 120px;
	
}

.niz {
	font-weight: 700; 
	color:rgb(44, 88, 138);
}

.product {background-color: #de752a;}

.workshop {background-color: #d6d30d;}

.sale-study {background-color: #07fa54;}

.marketing {background-color: #32b4f0;}

.troubleshoot {background-color: #bcc2cc;}

.mat-bonus {background-color: #cb8efa;}

.buhgalter {background-color: #f08b8b;}

.grade-loyality {
	color: #de752a;
	background-color: transparent;
	border-width:  1px 1px;

}

 .grade-loyality-title {
	 text-align: center;
	 color: #de752a;
 }

 .item {margin-left: 20px;}	

 .credit {margin-left: 340px;}

 .promotion  {
	 margin-left: 340px;
	 width: max-content;
 }

.promo2 {background-color: #a37bc9;}	

.motivation {background-color: #FBCAA2;}

.promo-motivation {background-color: #c8dbbd;}

.promo {
	background-color: transparent;
	border-width:  1px 1px;
	color: whitesmoke;
}

.promo1 {background-color: rgb(233, 178, 178);}

.headphones {margin-left: 340px;}

.col3 {width: 50%;}

.col4 {width: 40%;}

body {
	margin: 20px;
	/* background-image: linear-gradient(to bottom left, #42275a, #734b6d); */
	background-image: url(./img/fon.webp);
	background-repeat: no-repeat; 
	background-attachment: fixed;
}

.index-logo {
	margin-left: 500px;
	width: 50%;
	height: 95%;
	position: fixed;
}

ul.menu {
	margin-top: 50px;
	padding: 0;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	display: inline-block;
	background-color: #3d3e40;
	width: 190px;
	float: left;
	position: fixed;
}

ul.menu li {
	list-style: none;
	position: relative;
}

ul.menu li a {
	padding: 10px 12px 12px;
	color: #E8F50C;
	font-size: 13px;
	font-weight: bold;
	font-family: Arial;
	text-decoration: none;
	display: block;
	border-top: 1px solid #c4c4c4;
}

ul.menu li a:hover {
	background-color: #b00000;
}

ul.menu li:first-child a {
	border-top: none;
}

ul.menu li:first-child a:hover {
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
}

ul.menu li:last-child a:hover {
	border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
}

ul.menu li ul {
	display: none;
}

ul.menu li:hover ul {
	display: block;
	position: absolute;
	left: 190px;
	top: 1px;
	background-color: #28282a;
	width: 150px;
	z-index: 1000;
	border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
}

ul.menu li:hover ul li:first-child a:hover {
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}

ul.menu li:hover ul li:last-child a:hover {
	border-radius: 0 0 5px 0;
	-webkit-border-radius: 0 0 5px 0;
	-moz-border-radius: 0 0 5px 0;
}

.price {
	margin-top: 0;
	margin-left: 330px;
}

.contacts {
	text-decoration: none;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	border-radius: 10px;
	border-spacing: 0;
	text-align: center;
	margin-left: 340px;
}

.pl {
	margin-left: 360px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	color: #a9f891;
}

table {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	border-radius: 10px;
	border-spacing: 0;
	text-align: center;
	margin-left: 2px;
	}

.sales {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	border-radius: 10px;
	border-spacing: 0;
	text-align: center;
	margin-left: 2px;
}

th {
	background: #f5b683;
	color:rgb(44, 88, 138);
	padding: 10px 20px;
}

th, td {
	border-style: solid;
	border-width: 0 1px 1px 0;
	border-color: white;
	width: 250px;
}

th:first-child, td:first-child {
	text-align: left;
}

th:first-child {
	border-top-left-radius: 10px;
}

th:last-child {
	border-top-right-radius: 10px;
	
}

td {
	padding: 10px 20px;
	background: #91e9f8;
}

tr:last-child td:first-child {
	border-radius: 0 0 0 10px;
}

tr:last-child td:last-child {
	border-radius: 0 0 10px 0;
}
	
.lavina {
	background: #a9f891;
}

.magelan {
	background:  #fac7e1;
}

.manager {
	font-weight: bold;
}

.bolshevik {
	background: #d7b8f5;
}

.piramida {
	background: #eff5b8;
}

.rivermall {
	background: #f5ddb8;
}
	
.prices {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	border-radius: 10px;
	border-spacing: 0;
	text-align: center;
	margin-left: 300px;
	}


.device {
	background: #f7cbb0;
}

.gdocs {
	margin-left: 340px;
	height: 865px;
}

.gdocs-iphone {
	margin-left: 340px;
	height: 930px;
	width: 1000px;
}

.comunication {
	margin-left: 340px;
}

.price-trade-iphone, .price-trade-ipad, .price-trade-aw, .trade-redemption {
	margin-left: 340px;
	float: left;
}

.trade-blue {
	border-style: solid;
	box-sizing: border-box;
	width: 350px;
	border: 5px;
	background-color: rgb(43, 159, 236);
	margin-left: 700px;
	padding-left: 5px;
}

.trade-blue1 {
	border-style: solid;
	box-sizing: border-box;
	width: 400px;
	border: 5px;
	background-color: rgb(43, 159, 236);
	margin-left: 540px;
	padding-left: 5px;
	margin-bottom: 20px;
}

.iphone-care-trade {
	margin-left: 20px;
}

.trade-red1 {
	border-style: solid;
	box-sizing: border-box;
	width: 350px;
	border: 5px;
	background-color: rgb(235, 100, 100);
	margin-left: 700px;
	margin-top: 20px;
	padding-left: 5px;
}

.trade-red2 {
	border-style: solid;
	box-sizing: border-box;
	width: 350px;
	border: 5px;
	background-color: rgb(235, 100, 100);
	margin-left: 700px;
	margin-top: 20px;
	padding-left: 5px;
}

.trade-green {
	border-style: solid;
	box-sizing: border-box;
	width: 350px;
	border: 5px;
	background-color: rgb(59, 172, 59);
	margin-left: 700px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 5px;
}